@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KampungOrange";
  src: url("/fonts/Kampung Orange.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}